---
import Button from "../components/ui/Button.astro";
import TaglineCard from "@/components/home/TaglineCard.astro";
import Layout from "@/layouts/Layout.astro";
import FeaturedWork from "../components/sections/FeaturedWork.astro";
import AnimatedText from "@/components/ui/AnimatedText.astro";
import Explore from "@/components/sections/Explore.astro";
---

<Layout
title="Ami Steelman's Portfolio"
description="Welcome to Ami Steelman's portfolio site! I turn complex ideas into working systems. Using AI and modern tools, I build solutions that improve how teams work—without overengineering or unnecessary complexity. I focus on outcomes: if it doesn’t solve a real problem, it doesn’t ship.."
keywords="implementation, user adoption, training, systems thinking, AI integration, workflow design, process improvement, communication, solution delivery, usability"
>
  <div
    class="relative site-container z-20  w-full mx-auto mt-16 px-4 md:mt-18 lg:mt-20 xl:px-0"
  >
    <div class="relative w-full px-4 flex flex-col items-center justify-between md:flex-row mb-16 ">
      <div class="relative w-full md:max-w-[420px] md:w-1/2 text-center sm:text-left sm:-mt-8">
        <!-- Title - AnimatedText animation -->
        <h1 class="mb-4">
          <AnimatedText
            content="Hi, I'm Ami"
            delay={0.1}
            duration={0.5}
            stagger={0.08}
            class="text-5xl text-pri leading-tight md:text-4xl lg:text-6xl font-brand "
          />
        </h1>

        <!-- First description - AnimatedText animation -->
        <div class="mb-2">
          <AnimatedText
            content="Complex systems are only valuable if people can use them."
            delay={0.3}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Second description - AnimatedText animation -->
        <div class="mb-4">
          <AnimatedText
            content="I turn that complexity into clarity."
            delay={0.5}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <!-- Button - AOS animation -->
        <div
          class=""
          data-aos="fade-up-sm"
          data-aos-delay="900"
          data-aos-duration="500"
          data-aos-once="true"
        >
          <Button url="https://www.linkedin.com/in/ami-steelman/" type="fill" className="m-auto mt-4 text-center sm:text-left sm:m-0 sm:mt-6 max-w-[200px]">
            Let's talk
          </Button>
        </div>

      </div>

      <!-- TaglineCard -->
      <div
        class="relative justify-end w-full mt-16 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
        data-aos="fade-left-sm"
        data-aos-delay="300"
        data-aos-duration="800"
        data-aos-once="true"
      >
        <TaglineCard />
      </div>
    </div>
  </div>

  

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <FeaturedWork title="Featured Work ↓" description="I create innovative and purposeful designs that not only capture attention but also drive meaningful results." limit={5} />
  </section>

  <section
    class="mt-26 mb-12"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <Explore title="Explore ↓"  />
  </section>
</Layout>